# Sistema
__pycache__/
*.py[cod]
*.sqlite3

# Entorno virtual
env/
venv/
ENV/
VENV/

# Archivos del entorno local
*.env
*.local
.DS_Store

# Archivos estáticos y de migraciones
/static/
db.sqlite3
/migrations/
